@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FurniturePlus</h1>
    <br />
    <h4>The best business to client solution in the furniture industry</h4>
    @*
        1.Organize your home interior.
        2.The best business to client solution for interior design
        3. Where partnership.. blabla........ X.X
    *@
    <br /><br /><br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
